cd $HOME/odoo/17.0/src && git clone -b 17.0 --single-branch --depth=1 https://github.com/odoo/odoo.git
This command will clone only the 14.0 branch and only the latest commit so you can save disk space. To update the source code later just run:

cd $HOME/odoo/17.0/src/odoo && git pull